.collection-card span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  display: block;
  height: min-content;
  border-radius: 10px;
  background: rgba(16, 185, 129);
  color: white;
}

@media (min-width: 768px) {
  .collection-card span {
    border-radius: 0px;
    width: 12.2rem;
    margin-left: -2.6rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

.collection-card {
  width: 7rem;
}

.card-container {
  padding: 1rem;
  border-radius: 20px;
}

.collection-action-container {
  background: rgba(16, 185, 129);
  padding: 1px;
  border-radius:15px;
  width: -webkit-fill-available;
  text-align: -webkit-center;
}

.collection-action-container:last-child {
  background: red;
}

.collection-action-container:hover {
  box-shadow: 0px 0px 5px 1px green;
  transform: scale(1.5);
}

.collection-action-container:last-child:hover {
  box-shadow: 0px 0px 5px 1px red;
}

.collection-action-button {
  width: 5vmin;
}